{% assign lang = page.url | slice: 1, 2 %}
{% if lang == 'en' %}
  {% assign home_url = '/' %}
{% else %}
  {% assign home_url = '/' | append: lang | append: '/' %}
  {% assign home_url_page = site.pages | where:"dir",home_url %}
  {% if home_url_page.size != 1 %}
    {% assign home_url = '/' %}
  {% endif %}
{% endif %}
{% if page.categories %}
  {% assign category_url = page.categories | join: '/' | prepend: '/' | append: '/' %}
  {% assign category_name = page.categories[1] %}
  {% assign category_url_page = site.pages | where:"dir",category_url %}
  {% if category_url_page.size != 1 %}
    {% assign category_url = category_name | prepend: '/en/'%}
  {% endif %}
{% endif %}

<header class="site-header" role="banner">

  <div class="wrapper">

  {% if page.name != 'index.md' %}
    <a class="site-title" href="{{ home_url | relative_url}}">
      {% include avatar.html size='small' %}
      {{ site.title | escape }}
    </a>

    {% if category_url %}
      <span class="site-title url-separator">/</span>
      <a class="site-title" href="{{ category_url | relative_url}}">
        {{ site.data.t[lang].category[category_name] | default: category_name }}
      </a>
    {% endif %}
  {% endif %}

    <nav class="site-nav">
      {% include translation_links.html post=post %}
    </nav>

  </div>

</header>
