---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "minima";
@import "simplegrid";
body {
  background-color: white;
  &.page-home {
    .page-content {
      padding: 0;
      margin-top: -40px;
    }
  }
}


.itemprop {
  // For data added to the HTML only for https://schema.org purposes
  display: none;
}

.site-header {
  border: none;
    min-height: 56px;
    position: relative;
  .site-title {
    &.url-separator {
      padding: {
        left: 5px;
        right: 5px;
      }
    }
  }
  @media screen and (max-width: 600px) {
    .site-nav {
        background-color: inherit;
        border: inherit;
        border-radius: inherit;
        margin: {
          top: -8px;
        }
    }
  }
  .translation-links {
    > li {
      display: inline;
      padding: 2px 5px;
      opacity: .3;
      &:hover {
        opacity: inherit;
      }
      &.current-translation {
        opacity: inherit;
      }
    }
  }
}

.wrapper-centered {
  display: table;
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  .content {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    margin: {
      left: auto;
      right: auto;
    }
    padding: 15px;
    width: 100%;
  }
}

.image-circle {
    border-radius: 50%;
}

.avatar {
  @extend .image-circle;
  &.small {
    width: 36px;
    padding: 0;
  }
  &.medium {
    width: 100px;
    padding: 15px;
  }
  &.large {
    width: 180px;
    padding: 25px;
  }
}

ul.tags {
  list-style-type: none;
  margin-left: 0;
  font-size: 0.8em;
  display: inline;
  text-align: right;
  margin:{
    top: 15px;
    bottom: 15px;
  }
  li {
    display: inline;
    color: #888;
    background-color: #eee;
    border: 1px solid #aaa;
    margin: {
      top:    0;
      bottom: 0;
      right:  2px;
      left:   2px;
    }
    padding: {
      top:    1px;
      bottom: 1px;
      right:  5px;
      left:   5px;
    }
    > a {
      color: inherit;
      cursor: default;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.post-list {
  .post-meta {
    text-align: right;
    padding-top: 9px;
  }
  [class^=col-] {
      margin: {
      bottom: 25px;
    }
  }
}

// body.page-tags {
//   .tag-posts-list {
//     display: none;
//   }
// }
