---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "minima";
body {
  background-color: white;
}

.site-header {
  border: none;
    min-height: 56px;
    position: relative;
}

.wrapper-centered {
  display: table;
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  .content {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    margin: {
      left: auto;
      right: auto;
    }
    padding: 15px;
    width: 100%;
  }
}

.image-circle {
    border-radius: 50%;
}

.avatar {
  @extend .image-circle;
  &.small {
    width: 36px;
    padding: 0;
  }
  &.medium {
    width: 100px;
    padding: 15px;
  }
  &.large {
    width: 180px;
    padding: 25px;
  }
}