---
layout: compress
---

<!DOCTYPE html>
{% assign current_lang = page.url | slice: 1, 2 %}
<html lang="{{ current_lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  {% assign body-class = page.dir | default: '__post' | replace:'/','' | slice: 2, 100 | trim | default: 'home' | prepend: 'page-' %}
  <body class="{{ body-class }}">
    <div class="page-wrap">
        {{ content }}
    </div>
    {% include site_footer.html %}
    <script src="/assets/vendor/js/jquery-3.1.1.slim.min.js"></script>
    <script src="/assets/js/main.js"></script>
    {% include lang_tag_meta_stats.html %}
  </body>
</html>
