---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">
      {% include draft_label.html %}
      {{ page.title | escape }}
    </h1>
    {% if page.subtitle %}
      <h2 class="post-subtitle" itemprop="alternativeHeadline" itemscope itemtype="https://schema.org/alternativeHeadline">{{ page.subtitle | markdownify }}</h2>
    {% endif %}

    {% include tags.html %}
    <p class="post-meta"><time class="no-link-in-new-tab-arrow" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" data-href="{{site.github.repository_url}}/commits/master/{{page.path}}">{{ page.date | date: "%b %-d, %Y" }}</time></p>
    <span class="post-meta itemprops">
      {% if page.author %}<span class="itemprop" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}{% if page.tags %}<span class="itemprop" itemprop="keywords" itemscope itemtype="https://schema.org/keywords">{{ page.tags | array_to_sentence_string | replace: ' and ', ' '}}</span>{% endif %}<span class="itemprop" itemprop="wordCount" itemscope itemtype="https://schema.org/wordCount">{{ page.content | number_of_words }}</span>
    </span>
  </header>

  {% if page.categories contains "learning" %}
    {% include course_info.html %}
  {% else %}
    {% if page.summary %}
      <p class="post-summary" itemprop="about" itemscope itemtype="https://schema.org/about">
        {{ page.summary }}
      </p>
    {% endif %}
  {% endif %}

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
